heed{
    backgraud-color:#424E61;
}
.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-lista-item{
    display: inline-block;
    margin:  16px;
    font-size: 24px;
}
*{
    margin: 0;
    padding: 0;
}
.cabecalho-lista-item{

    margin:  16px;
    font-size: 24px;
}
.escola-titulo{
    padding: 24px 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.estudante-todos{
    display: grid;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.estudante-titulo{
    text-align: center;
    padding: 24px 0;
}
.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;

}
.estudantes-todos{
    display: grid;
    
    }
    .cabecalho-lista-item a{
        text-decoration: none; 
        color: white;
    }
    